.el-table {
  &.card-style-table {
    --el-table-tr-bg-color: transparent;
    --el-table-border-color: transparent;
    --el-table-row-hover-bg-color: transparent;
    --el-table-header-bg-color: transparent;
    --el-table-bg-color: transparent;
    $header-bg-color: #f5f7fa;
    $tbody-bg-color: #fff;
    $keep-distance: 4px;
    @mixin card-row($height: 48px, $bg: #fff) {
      display: block;
      position: absolute;
      box-sizing: border-box;
      left: $keep-distance;
      right: $keep-distance;
      content: '';
      border-radius: 4px;
      width: calc(100% - $keep-distance);
      height: $height;
      transform: translateY($keep-distance);
      background-color: $bg;
      box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
    }
    .el-table__inner-wrapper {
      tr {
        position: relative;
        .el-table__cell {
          padding: 0 20px;
          .cell {
          }
        }
      }
      .el-table__header-wrapper {
        .el-table__header {
          tr {
            .el-table__cell {
              height: 48px;
            }
            &::after {
              @include card-row(40px, $header-bg-color);
            }
          }
        }
      }
      .el-table__body-wrapper {
        .el-table__body {
          .el-table__row {
            .el-table__cell {
              height: 64px;
            }
            &::after {
              @include card-row(48px, $tbody-bg-color);
            }
          }
        }
      }
    }
  }
}
